doctype html
html( sg-view="tekgenesis.admin.sg.Views", sg-params="title : String, demo : Boolean")
    head
        title= title
        link( rel="icon", href=sg.sha('/sg/img/favicon.png'))

        meta( charset="utf-8")
        meta( name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

        meta( name="mobile-web-app-capable", content="yes")
        meta( name="apple-mobile-web-app-capable", content="yes")
        meta( name="theme-color", content="black")
        meta( name="apple-mobile-web-app-status-bar-style", content="black")

        link( rel="icon", sizes="144x144", href=sg.sha('/sg/img/apple-touch-icon-ipad.png'))
        // Standard iPhone
        link( rel="apple-touch-icon-precomposed", sizes="57x57", href=sg.sha('/sg/img/apple-touch-icon-iphone.png'))
        // Retina iPhone
        link( rel="apple-touch-icon-precomposed", sizes="114x114", href=sg.sha('/sg/img/apple-touch-icon-iphone.png'))
        // Standard iPad
        link( rel="apple-touch-icon-precomposed", sizes="72x72", href=sg.sha('/sg/img/apple-touch-icon-ipad.png'))
        // Retina iPad
        link( rel="apple-touch-icon-precomposed", sizes="144x144", href=sg.sha('/sg/img/apple-touch-icon-ipad.png'))

        link( rel="stylesheet", href=sg.cssTheme(), id="theme")
    body
        div( class="page-wrap")
            nav( class="navbar navbar-default navbar-fixed-top")
                div( class="container")

                    ul( class="nav navbar-nav navbar-right")
                        li( class="dropdown")
                            a( id="userDropdown", class="dropdown-toggle user-dropdown")
                                span( id="sg-user-name", data-sg-type="userName", data-sg-config='{"picture":true, "username":false}')
                            ul( class="dropdown-menu", id="userOptions")
                                if demo
                                    li
                                        a( data-locale='es')='Español'
                                    li
                                        a( data-locale='en')='English'
                                    li( class="divider")
                                    li
                                        a( data-theme=sg.sha('/sg/css/theme/bootstrap.css'))='Bootstrap'
                                    li
                                        a( data-theme=sg.sha('/sg/css/theme/tekgenesis.css'))='TekGenesis'
                                    li
                                        a( data-theme=sg.sha('/sg/css/theme/slate.css'))='Slate'
                                    li
                                        a( data-theme=sg.sha('/sg/css/theme/united.css'))='United'
                                    li
                                        a( data-theme=sg.sha('/sg/css/theme/paper.css'))='Paper'
                                    li( class="divider")
                                li( id="sg-user-profile", data-sg-type="userProfile")
                                li( id="sg-shortcuts", data-sg-type="shortcuts")
                                li( class="divider")
                                li( id="sg-change-ou", data-sg-type="changeOu")
                                li( id="sg-switch-user", data-sg-type="switchUser")
                                li( id="sg-logout", data-sg-type="logout")
                        li( id="sg-fullscreen", data-sg-type="fullscreen")

                    div( class="navbar-header")
                        button( id="sg-toggle-menu", data-sg-type="toggleMenu")
                        a( class="navbar-brand", href="/")= title

                    div( class="navbar-collapse collapse push-overlay-nav")
                        div( id="sg-menu", data-sg-type="menu", data-sg-config='{"position":"top"}')
                            div( class="loading-menu")='Loading...'

            div( class="container")
                div( id="form", data-sg-type="form", data-sg-config='{"history":true}')

        footer( class="page-footer")
            hr( class="soften")
            div
                span=sg.versions() + '/ Powered by'
                img( alt="Tekgenesis" src=sg.sha('/img/logo-TekGenesis-mini.png'))

        // Suigeneris forms bootstrap
        :sgFormsBootstrap

        // jquery is just needed for Charts
        script( src="/external/js/jquery-2.2.4.min.js")

        // Just for the theme and locale menu
        script( src=sg.sha('/sg/js/sg-index.js'), defer, async)