doctype html
html( sg-view="tekgenesis.service.html.Views", sg-messages="quotes : tekgenesis.samples.service.FamousQuotes", sg-params="favoriteQuote : tekgenesis.samples.service.FamousQuotes")
    head
        title= 'i18n examples'
    body
        h2= 'All Quotes:'
        div= 'Plato: ' + quotes.PLATO
        div= 'Jobs: ' + quotes.JOBS
        div= 'Dalai: '+ quotes.DALAI

        h2= 'Favorite Quote:'
        div= favoriteQuote.label()